<div class="bg-dark">

  <!-- #region Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a href="#our-services" class="nav-link">Our Services</a>
          </li>
          <li class="nav-item">
            <a href="#our-customers" class="nav-link">Our Customers</a>
          </li>
          <li class="nav-item">
            <a href="#about-us" class="nav-link">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- #endregion -->

  <app-date-time class="container-fluid"></app-date-time>
  
  <app-our-services id="our-services"></app-our-services>
  
  <app-our-customers id="our-customers"></app-our-customers>
  
  <app-about-us id="about-us"></app-about-us>
  
</div>

<router-outlet></router-outlet>